# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Coverage
.coverage
coverage.xml

#tox
.tox/*

#pytest
.pytest_cache/*

# Misc
.idea/*
dist/*
.cache/*
*.DS_Store
.eggs/*
.mypy_cache
.docs
docs
/data
/data-raw
.vscode
model.h5


